@tailwind base;
@tailwind components;
@tailwind utilities;

.weather-grid{
    @apply flex flex-col justify-center items-center text-center;
    /* @apply grid grid-rows-2 justify-center items-center text-center */
}

.card{
    @apply flex justify-between items-center bg-white rounded shadow-sm p-6 my-4;
}

.fa-cloud {
    font-size: 64px;
}

.fa-droplet {
    font-size: 24px;
}

.temp-switch {
    border: 1px solid white;
}