@tailwind base;
@tailwind components;
@tailwind utilities;

/* .weather-grid{
    @apply flex flex-col justify-center items-center text-center;
} */

.fa-cloud {
    font-size: 64px;
}

.fa-wind {
    font-size: 24px;
}

.temp-switch {
    border: 1px solid white;
}

body {
    background-image: url('../img/jonathan-klok-NeRzxya_zyI-unsplash\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.stats-fixed-horizontal{
    @apply stats-horizontal;
    grid-template-columns: repeat(4, 25%);
}

.weather-condition {
    font-size: 1.5rem;
}